<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<div style="height:20px">

</div>
<section style="padding:50px auto; margin:100px">
    <div class="container">
        <div id="app">
            <div v-if="tableData.length > 0">

                <el-table :data="tableData" size="large" style="width: 100%; font-size: 1.2em" :default-sort="{prop: 'time_stamp', order: 'descending'}">
                    <el-table-column type="index" width="50">
                    </el-table-column>
                    <el-table-column prop="time_stamp" label="Date">
                    </el-table-column>
                    <el-table-column prop="concentration" label="Concentration">
                    </el-table-column>
                    <el-table-column prop="temperature" label="Temperature">
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</section>

<script>
    ELEMENT.locale(ELEMENT.lang.en)
    var app2 = new Vue({
        el: '#app',
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleString(),
            tableData: []
        },
        beforeMount() {
            this.getTable();
        },
        methods: {
            getTable() {
                fetch('/tabledata')
                    .then(response => { return response.json() })
                    .then(responseData => {
                        this.tableData = responseData.logs
                    })
            }
        }
    })
</script>
<style>
    #app {
        height: 100%;
        width: 100%;
    }
</style>